.logo {
  color: red;
  text-decoration: none;
}

.logoh1 {
  margin-left: 2%;
}

.formulario {
  margin-top: 8%;
}

.formulario form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(221, 221, 221, 0.06);
  max-width: 40rem;
  margin: 0 auto;
  max-height: 35rem;
  border-radius: 2em;
  padding-bottom: 2%;
}

.formulario input {
  align-self: center;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  border-width: 0.5px;
  color: rgb(255, 255, 255);
  padding-left: 12px;
  width: 60%;
  font-family: StreetLCG2;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 0px;
  border-color: rgba(255, 255, 255, 0.4);
  height: 37px;
}
.pass {
  height: 56px;
  width: 62%;
  display: flex;
  flex-direction: row;
}

.pass input {
  align-self: center;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px 0 0 4px;
  border-width: 0.5px 0 0.5px 0.5px;
  color: rgb(255, 255, 255);
  padding-left: 12px;
  height: 2.3rem;
  width: 90%;
  font-family: StreetLCG2;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 0px;
  border-color: rgba(255, 255, 255, 0.4);
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  -ms-border-radius: 4px 0 0 4px;
  -o-border-radius: 4px 0 0 4px;
}
.pass button {
  border-color: rgba(255, 255, 255, 0.4);
  background-color: rgba(0, 0, 0, 0.2);
  border-width: 0.5px 0.5px 0.5px 0;
  width: 10%;
  height: 2.5rem;
  border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  -ms-border-radius: 0 4px 4px 0;
  -o-border-radius: 0 4px 4px 0;
  margin-top: 15px;
}
.pass button img {
  width: 26px;
  height: 26px;
  z-index: 100;
}
.titulo {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  margin-top: 15px;
  height: 2rem;
  width: 14rem;
}

.button {
  background-color: red;
  color: white;
  border: none;
  border-radius: 2px;
  height: 2rem;
  width: 10.5rem;
  margin-top: 15px;
  margin-left: 33px;
}
.error {
  color: red;
}
.loginP {
  color: white;
  text-decoration: none;
}
.loginP span {
  text-decoration: underline;
}

@media (max-width: 1300px) {
  
}

@media (max-width: 768px) {
  
}

@media (max-width: 400px) {
  
}
