.peliculas {
  margin-top: 120px;
  /* margin-bottom: 120px; */
}

.todasPeliculas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 13%;
  margin-right: 10%;
}

.todasPeliculas img {
  cursor: pointer;
  flex: 1 0 auto;
  margin: 10px;
  height: 230px;
  width: 170px;
}
.titulo {
  color: white;
  margin-left: 5%;
}

.general {
  margin: 0 auto;
  scroll-behavior: smooth;
}

.peliculas h2 {
  color: #fff;
  margin-left: 1%;
}

.soloTellix {
  display: flex;
  width: 100%;
}

.soloTellix img {
  cursor: pointer;
  flex: 1 0 auto;
  margin: 10px 20px 10px 0;
  /* max-width: 165px;
    max-height: 300px; */
  height: 230px;
  width: 170px;
}
.contentCarrusel {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.carrusel {
  overflow: hidden;
}
.carouselPrev,
.carouselNext {
  /*position: absolute;
  */ /*top: 50%;
  */
  padding: 10px;
  color: white;
  background-color: rgba(221, 221, 221, 0.06);
  border: none;
  cursor: pointer;
  height: 230px;
}

.carouselPrev {
  left: 10px; /* Posición a la izquierda */
}

.carouselNext {
  right: 10px; /* Posición a la derecha */
}
/* Estilos para el modal */

.model {
  position: fixed; /* Cambiado de absolute a fixed para que ocupe toda la pantalla independientemente de la posición del contenido */
  z-index: 1;
  left: 50%; /* Centrado horizontalmente */
  top: 50%; /* Centrado verticalmente */
  transform: translate(
    -50%,
    -50%
  ); /* Ajuste para asegurar el centro del modal en el centro de la pantalla */
  width: 80%; /* Ajusta el tamaño del modal según prefieras */
  height: 80%; /* Ajusta el tamaño del modal según prefieras */
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Alinea el contenido del modal al centro */
  overflow: auto; /* Permite el scroll dentro del modal si es necesario */
}
.modelSerie {
  padding-top: 2%;
  position: fixed; /* Cambiado de absolute a fixed para que ocupe toda la pantalla independientemente de la posición del contenido */
  z-index: 1;
  left: 50%; /* Centrado horizontalmente */
  top: 50%; /* Centrado verticalmente */
  transform: translate(
    -50%,
    -50%
  ); /* Ajuste para asegurar el centro del modal en el centro de la pantalla */
  width: 80%; /* Ajusta el tamaño del modal según prefieras */
  height: 80%; /* Ajusta el tamaño del modal según prefieras */
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center; /* Alinea el contenido del modal al centro */
  overflow: auto; /* Permite el scroll dentro del modal si es necesario */
  background-color: rgba(0, 0, 0, 0.8);
}

/* Contenedor del fondo */
.fondoCont {
  position: fixed; /* Fijo para cubrir toda la pantalla */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Ajusta la opacidad según prefieras */
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Previene el scroll de la página */
}
.fondoContSerie {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.contenido {
  display: flex;
  flex-direction: row;
  margin-left: 2%;
}
.contenidoSeries {
  display: flex;
  flex-direction: column;
  margin-left: 2%;
}
.iframe {
  width: 600px;
  height: 630px;
  z-index: 1;
}
.iframe2 {
  position: absolute;
  transform: translate(150%, 230%);
  width: 150px;
  height: 100px;
  z-index: 2;
  -webkit-transform: translate(150%, 230%);
  -moz-transform: translate(150%, 230%);
  -ms-transform: translate(150%, 230%);
  -o-transform: translate(150%, 230%);
  cursor: pointer;
}
.iframeBtn {
  width: 600px;
  height: 630px;
  border: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 3;
}
.reproductor {
  width: 100%;
  margin: 1%;
}

.datos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
}

.datos h3 {
  width: 90%;
}
.close {
  border: none;
  position: absolute;
  top: 7%;
  right: 7%;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.4);
}
.closeSeries {
  border: none;
  position: absolute;
  top: 40px;
  right: 7%;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.4);
}

.add {
  border: 1px solid #e5e7eb;
  margin-top: 5%;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
}
.selectBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2%;
  width: 90%;
}
.select {
  border: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 25px;
}
.datosCap {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}
.linea {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  color: white;
  font-size: 20px;
  border: none;
}
.linea::after {
  content: "";
  display: block;
  width: 70%;
  height: 1px;
  background-color: white;
  margin-top: 10px; /* Espacio entre el div y la línea */
  margin-bottom: 10px;
}

.capitulos {
  position: static;
  bottom: 0;
  width: 98%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.datosCap img {
  max-width: 150px;
  margin-right: 3%;
}
.datosCapLetter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.datosCapDatos {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.datosCapDatos p {
  text-align: justify;
}

.contenidoPopup {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  display: grid;
  justify-items: center;
  align-content: center;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination button {
  margin-left: 5px;
  border: none;
  width: 29px;
  height: 20px;
  margin-bottom: 40px;
}
.contenidoPopup iframe {
  width: 960px;
  height: 650px;
}
/* peliculasSeries.module.css */
.paginaActual {
  background-color: red; /* Cambia el color según tus preferencias */
  color: white; /* Para mantener el texto legible */
}
::-webkit-scrollbar {
  width: 0;
}
@media (min-width: 2000px) {
  .contenidoPopup iframe {
    width: 1500px;
    height: 900px;
  }
}
@media (max-width: 1400px) {
  .contenido {
    display: flex;
  }

  .iframe {
    height: 500px;
    width: 400px;
    display: flex;
  }

  .iframe2 {
    height: 50px;
    width: 50px;
    transform: translate(-10%, 390%);
  }

  .iframeBtn {
    height: 500px;
    width: 420px;
  }
}

@media (max-width: 1000px) {
  .contenido {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 580px;
    margin-bottom: 30px;
    /* text-align: center; */
  }

  .datos {
    margin-top: 10px;
    align-items: center;
    font-size: 0.7rem;
    /* width: 70%; */
  }

  .reproductor {
    /* display: flex; */
    /* align-items: center; */
    text-align: center;
    /* width: 30%; */
  }

  /* .add{
    display: flex;
    justify-content: center;
    align-items: center;
  } */

  .iframe {
    height: 290px;
    width: 270px;
    display: flex;
    /* text-align: center; */
    /* margin-left: 55px; */
  }

  .iframe2 {
    height: 50px;
    width: 50px;
    transform: translate(-50%, 270%);
  }

  .iframeBtn {
    height: 400px;
    width: 320px;
  }

  .contenidoSeries {
    margin-top: 20%;
  }

  .datosCapLetter h2 {
    font-size: 1.2rem;
  }

  .datosCapDatos p {
    font-size: 0.65rem;
  }
  .contenidoPopup iframe {
    width: 660px;
    height: 400px;
  }
}
@media (max-width: 660px) {
  .contenidoPopup iframe {
    width: 360px;
    height: 190px;
  }
}

@media (max-width: 400px) {
  .todasPeliculas img {
    width: 130px;
  }
  .contenidoPopup iframe {
    width: 260px;
    height: 100px;
  }
}
