.barraNav{
    display: flex;
    flex-direction: row;
    background-color: rgba(0,0,0,0.8); /* Color de fondo con opacidad */
    backdrop-filter: blur(4px); /* Aplica desenfoque al fondo */
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
}

.botones{
    margin-top: 2%;
    margin-left: 35%;
}

.botones button{
    border-radius: 2em;
    width: 9rem;
    height: 2rem;
    border: none;
}

.logo{
    color: red;
    margin-left: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1%;
}

.logo a{
    text-decoration: none;
    padding: 10px;
    margin: 0 40px;
    color: #fff;
}

.botonLogin{
    background-color: white;
    color: red;
}

.botonCrearCuenta{
    margin-left: 2rem;
    background-color: red;
    color: white;
}

.todosContenido{
    margin-top: 7%;
}

/*Para el contenido*/

/*  Peliculas   */

.contenidoPeliculas{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.derecha {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Crea 3 columnas de igual tamaño */
    grid-template-rows: repeat(2, auto); /* Crea 2 filas, la segunda se ajustará automáticamente */
    grid-gap: 10px; /* Ajusta este valor para controlar el espacio entre las imágenes */
    margin-left: 5%;
}

.derecha img {
    max-width: 150px;
    max-height: 200px;
    width: 100%; /* Asegura que las imágenes se ajusten al tamaño de la celda */
    height: auto; /* Mantiene la relación de aspecto de las imágenes */
}

/*  Series  */

.contenidoSeries{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    background-color: aquamarine;
}

.arriba{
    display: flex;
    flex-direction: row;
}

.letras{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.abajo{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Crea 3 columnas de igual tamaño */
    grid-template-rows: repeat(2, auto); /* Crea 2 filas, la segunda se ajustará automáticamente */
    grid-gap: 10px; /* Ajusta este valor para controlar el espacio entre las imágenes */
    margin-top: 2%;
}

.abajo img{
    max-width: 150px;
    max-height: 200px;
    width: 100%; /* Asegura que las imágenes se ajusten al tamaño de la celda */
    height: auto; /* Mantiene la relación de aspecto de las imágenes */
}