body {
    background-size: cover;
    background-position: center center;
    background-image: url(https://hbomax-images.warnermediacdn.com/2021-07/hbo_max_background_faded.png?host=wme-hbomax-drupal-prod.s3.amazonaws.com&w=1920);
    margin: 0;
    background-repeat: no-repeat;
    height: 90vh;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}

.barraNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.8);
    /* Color de fondo con opacidad */
    backdrop-filter: blur(4px);
    /* Aplica desenfoque al fondo */
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
}

.logo {
    color: red;
    margin-left: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1%;
}

.logo a {
    text-decoration: none;
    padding: 10px;
    margin: 0 40px;
    color: #fff;
}

.todosContenido {
    margin-top: 6%;
}

/*Para el contenido*/

/*  Peliculas   */

.contenidoPeliculas {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center center;
    background-image: url(https://hbomax-images.warnermediacdn.com/2021-07/hbo_max_background_faded.png?host=wme-hbomax-drupal-prod.s3.amazonaws.com&w=1920);
    color: #fff;
    padding-top: 2%;
    padding-bottom: 2%;
}

.izquierda h1 {
    text-align: left;
    font-size: 2.5rem;
}

.derecha {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Crea 3 columnas de igual tamaño */
    grid-template-rows: repeat(2, auto);
    /* Crea 2 filas, la segunda se ajustará automáticamente */
    grid-gap: 10px;
    /* Ajusta este valor para controlar el espacio entre las imágenes */
    margin-left: 5%;
}

.derecha img {
    max-width: 150px;
    max-height: 200px;
    width: 100%;
    /* Asegura que las imágenes se ajusten al tamaño de la celda */
    height: auto;
    /* Mantiene la relación de aspecto de las imágenes */
}

/*  Series  */

.contenidoSeries {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 2%;
    background-color: aquamarine;
    color: #fff;
    background-size: cover;
    background-position: center center;
    background-image: url(https://hbomax-images.warnermediacdn.com/2023-05/frinds_background.jpg?host=wme-hbomax-drupal-prod.s3.amazonaws.com&w=2000);
}

.arriba {
    display: flex;
    flex-direction: row;
}

.letras {
    margin-top: 8%;
}

.letras h1 {
    text-align: left;
    font-size: 2.5rem;
}

.letras p {
    text-align: left;
}

.abajo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Crea 3 columnas de igual tamaño */
    grid-template-rows: repeat(2, auto);
    /* Crea 2 filas, la segunda se ajustará automáticamente */
    grid-gap: 10px;
    /* Ajusta este valor para controlar el espacio entre las imágenes */
    margin-top: 2%;
}

.abajo img {
    max-width: 150px;
    max-height: 200px;
    width: 100%;
    /* Asegura que las imágenes se ajusten al tamaño de la celda */
    height: auto;
    /* Mantiene la relación de aspecto de las imágenes */
}

/*  Preguntas   */

.contenidoPreguntas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 20px;
    color: rgb(121, 110, 221);
    background-size: cover;
    background-position: center center;
    background-image: url(https://hbomax-images.warnermediacdn.com/2021-07/hbo_max_background_faded.png?host=wme-hbomax-drupal-prod.s3.amazonaws.com&w=1920);
}

.h1contenidoPreguntas {
    color: #fff;
    font-size: 2.5rem;
}


details {
    width: 75%;
    min-height: 5px; /* Ajusta este valor según sea necesario */
    max-width: 700px;
    padding: 45px 70px 45px 45px;
    margin: 0 auto;
    position: relative;
    font-size: 12px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    box-sizing: border-box;
    transition: all 0.3s;
}

details+details {
    margin: 20px;
}

details[open] {
    min-height: 50px; /* Ajusta este valor según sea necesario */
    background-color: #f6f7f8;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px; /* Ajusta este valor según sea necesario para compensar el margen reducido */
}

details:not([open]) {
    margin-bottom: -3%; /* Ajusta este valor según sea necesario */
}

details p {
    color: #96999d;
    font-weight: 300;
}

summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    cursor: pointer;
}

summary:focus {
    outline: none;
}

summary:focus::after {
    content: "";
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

summary::-webkit-details-marker {
    display: none;
}

.control-icon {
    fill: green;
    transition: 0.3s ease;
    pointer-events: none;
}

.control-icon-close {
    display: none;
}

details[open] .control-icon-close {
    display: initial;
    transition: 0.3s ease;
}

details[open] .control-icon-expand {
    display: none;
}


/*  Precio  */

.contenidoPrecio {
    padding-top: 2%;
    padding-bottom: 2%;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center center;
    background-image: url(https://hbomax-images.warnermediacdn.com/2021-10/HBOMax%20price%20background%20V2.jpg?host=wme-hbomax-drupal-prod.s3.amazonaws.com&w=1920);
}

.contenidoPrecio button {
    border: none;
    border-radius: 2em;
    height: 2rem;
    width: 10%;
    background-color: rgb(181, 53, 246);
    color: white;
}

.contenidoPrecio button:hover {
    background-color: white;
    color: black;
}

.span {
    font-size: 2.2rem;
}

@media (max-width: 932px ){
    .todosContenido{
        margin-top: 14%;
        
    }

    .barraNav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: rgba(0, 0, 0, 0.8);
        /* Color de fondo con opacidad */
        backdrop-filter: blur(4px);
        /* Aplica desenfoque al fondo */
        position: fixed;
        right: 0;
        left: 0;
        top: 0;
    }
}