.general{

}

.barraNav{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(0,0,0,0.8); /* Color de fondo con opacidad */
    backdrop-filter: blur(4px); /* Aplica desenfoque al fondo */
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
}

.barraNav a{
    text-decoration: none;
    padding: 10px;
    margin: 0 40px;
    color: #fff;
}

.barraNav h1{
    color: red;
    margin-left: 3%;
    
}

.todasPeliculas{
    margin-top: 5%;
    color: #fff;
}

.soloTellix{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.soloTellix img{
    flex: 1 0 auto;
    margin: 10px;
    max-width: 400px;
    max-height: 400px;
}