.general {
  margin: 0 auto;
}
.todasPeliculas {
  width: 100%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.peliculas h2 {
  color: #fff;
  margin-left: 1%;
}

.peliculas {
  width: 80%;
}

.soloTellix {
  display: flex;
  width: 100%;
}

.soloTellix img {
  cursor: pointer;
  flex: 1 0 auto;
  margin: 10px 20px 10px 0;
  /* max-width: 165px;
    max-height: 300px; */
  height: 230px;
  width: 170px;
}
.contentCarrusel {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.carrusel {
  overflow: hidden;
}
.carouselPrev,
.carouselNext {
  /*position: absolute;
  */ /*top: 50%;
  */
  padding: 10px;
  color: white;
  background-color: rgba(221, 221, 221, 0.06);
  border: none;
  cursor: pointer;
  height: 230px;
}

.carouselPrev {
  left: 10px; /* Posición a la izquierda */
}

.carouselNext {
  right: 10px; /* Posición a la derecha */
}
/* Estilos para el modal */

.model {
  position: fixed; /* Cambiado de absolute a fixed para que ocupe toda la pantalla independientemente de la posición del contenido */
  z-index: 1;
  left: 50%; /* Centrado horizontalmente */
  top: 50%; /* Centrado verticalmente */
  transform: translate(
    -50%,
    -50%
  ); /* Ajuste para asegurar el centro del modal en el centro de la pantalla */
  width: 80%; /* Ajusta el tamaño del modal según prefieras */
  height: 80%; /* Ajusta el tamaño del modal según prefieras */
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Alinea el contenido del modal al centro */
  overflow: auto; /* Permite el scroll dentro del modal si es necesario */
}

/* Contenedor del fondo */
.fondoCont {
  position: fixed; /* Fijo para cubrir toda la pantalla */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Ajusta la opacidad según prefieras */
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Previene el scroll de la página */
}

.contenido {
  display: flex;
  flex-direction: row;
}

.reproductor {
  width: 100%;
  margin: 1%;
}

.datos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
}

.datos h3 {
  width: 90%;
}
.close {
  border: none;
  position: absolute;
  top: 15%;
  right: 7%;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.4);
}

.add {
  border: 1px solid #e5e7eb;
  margin-top: 5%;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  } /* Posición inicial */
  100% {
    transform: translateX(-100%);
  } /* Desplazamiento completo */
}

@media (max-width: 1300px) {
  .general{
    margin-top: 9%;
  }
}

@media (max-width: 768px) {
  .general{
    margin-top: 13%;
  }
}

@media (max-width: 530px) {
  .general{
    margin-top: 22%;
  }
}
