.todasPeliculas{
    margin-top: 5%;
    color: #fff;
}

.soloTellix{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.soloTellix img{
    flex: 1 0 auto;
    margin: 10px;
    max-width: 400px;
    max-height: 400px;
}